name: mikufetch cross-platform test

on:
  push:
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.11"]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install mikufetch from PyPI
        run: |
          pip install --upgrade pip
          pip install mikufetch

      - name: Enable UTF-8 on Windows
        if: runner.os == 'Windows'
        run: |
          chcp 65001

      - name: Run mikufetch
        run: |
          mikufetch
